@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* PALETA DE CORES */
:root{
    --cor1:#182C61;
    --cor2: #ecf0f1;
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BACKGROUND */
html{
    background-image: url(imagens/background/back.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* FONTE PADRÃO */
body, input, textarea{
    font-family: Roboto;
}

/* FONTE EXCLUSIVA */
header h1, header a, h2, h3, form button{
    font-family: "Bungee";
    font-weight: lighter;
}

/* SETTINS DOS SUBTITULOS DO SITE */
h2, h3{
    color: white;
    margin-bottom: 15px;
}


/* SETTINGS DOS <P> DO SITE */
p{
    color: var(--cor2);
    margin-bottom: 10px;
}


/* SUB CONTAINER DE BODY */
.all-content{
    min-height: 100vh;
}

/* SETTINGS GERAL DOS CONTAINERS */
.container{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* HEADER CONTAINER SETTINGS */
header{
    background-color: black;
    color: var(--cor2);
    padding: 15px 0;
}


/* LINK NO H1 DO SITE */
.link-tittle{
    text-decoration: none;
    color: var(--cor2);
}

/* LINKS DO HEADER SETTINGS */
header nav li{
    display: inline;
    margin-left: 15px;
    font-size: 15px;
}

/* ESTILIZAÇÃO DOS LINKS DO HEADER */
header nav li a{
    color: var(--cor2);
    text-decoration: none;
}

/* ESTILIZAÇÃO DOS PSEUDOSELETORES DOS LINKS DO HEADER */
header nav li a:hover{
    color: yellow;
    text-decoration: underline;
}



/* SETTINGS DOS CONTAINER DO MAIN */
main .container{
    margin: 0px auto;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* STYLES DO SUPER CONTAINER DE ABOUT */
#about{
    background-color: rgba(22, 54, 82, 0.74);
    padding: 30px;
}

/* SETTINGS DA IMAGEM DE ABOUT */
.front-store{
    width: 100%;
    max-width: 600px;
    margin: 0 15px 30px 0;
}

/* SETTINGS DO TEXTO DE ABOUT */
.about{
    width: 100%;
    max-width: 600px;
    margin-bottom: 30px;
}

/* SETTINGS DA LISTA DOS LOGOS DE ABOUT */
.brands-list{
    list-style: none;
    margin-top: 20px;
}

.brands-list li{
    display: inline;
    margin-right: 8px;
}

.brands-list img, .social-links img{
    height: 30px;
}



/* STYLES - #CONTACT */

/* GENERAL SETTINGS */

#contacts h3{
    margin-bottom: 15px;
}


/* CONTAINERS SETTINGS */

/* Contact Container - (CC) */
#contacts .container{
    display: block;
    background-color: rgba(10, 1, 1, 0.5);
    padding: 15px;
}

/* Container CC-A */
.contact-methods{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* Container CC-A-A */
.formulary{
    width: fit-content;
    max-width: 600px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
}

/* Container CC-A-B */
.container-where{
    width: fit-content;
    max-width: 600px;
    margin-left: 8px;
    display: grid;
    justify-content: center;
}

/* Container CC-A-B-A */
.social-links{
    width: 100%;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
}

/* Container CC-A-B-B */
.address{
    width: 100%;
    margin-bottom: 70px;
}

.address a{
    text-decoration: none;
    color: var(--cor2);
}

.address a:hover{
    color: yellow;
}

/* FORMULARY SETTINGS */
.formulary input, .formulary textarea, .formulary button{
    display: block;
    width: 30vmax;
    min-width: 300px;
    max-width: 400px;
    padding: 8px;
    margin-bottom: 8px;
    border-radius: 10px;
    border-width: 1px;
}

form textarea{
    resize: none;
    height: 150px;
}


/* SOCIAL LINKS SETTINGS */
.social-links li{
    list-style: none;
    display: inline;
    margin-right: 8px;
}

.social-links a{
    text-decoration: none;
}

form button{
    background-color: var(--cor1);
    color: var(--cor2);
    border: none;
    cursor: pointer;
}

form button:hover{
    text-decoration: underline;
    color: yellow;
}

input:focus, textarea:focus{
    outline-color: orange;
    outline-style: double;
}


.map-address img{
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
}



/* STYLES SETTINGS FOOTER */

/* GENERAL SETTINGS */
footer{
    position: absolute;
    background-color: var(--cor1);
    color: var(--cor2);
    padding: 5px;
    width: 100%;
    bottom: 0;
}

footer .container{
    justify-content: center;
}

footer p{
    margin: 0;
    /* font-size: clamp(10px,1.5vmax,15px); */
    font-size: 15px;
}


/* SETTINGS DOS CREDITOS DO SITE */
.all-content{
    position: relative;
}


.image-copy{
    position: absolute;
    right: 1vmax;
    bottom: 20px;
    font-size: 15px;
}

.image-copy a{
    color: #ecf0f167;
}